<div class="isDiet-container">

    <div>
        <h1>
            Continue assim!
        </h1>
        <h5>Você continua <strong>dentro da dieta</strong>. Muito bem!</h5>
        <div class="isDiet-image">
            <img src="isdiet.png" alt="Imagem de dieta">

        </div>

        <div class="navigate-button">
            <app-primary-button [textPrimaryButton]="'Nova refeição'" [icon]="'ph ph-plus'"
                routerLink="/create-meal"></app-primary-button>

        </div>
    </div>

</div>