<div class="isDiet-container">

    <div>
        <h1>
            Que pena!
        </h1>
        <h5>Você <strong>saiu da dieta dessa vez</strong>, mas continue se esforçando e não desista!</h5>
        <div class="isDiet-image">
            <img src="notIsDiet.png" alt="Imagem de dieta">

        </div>

        <div class="navigate-button">
            <app-primary-button [textPrimaryButton]="'Ir para a página inicial'"
                routerLink="/home"></app-primary-button>

        </div>
    </div>

</div>