<app-hide-nav [title]="'Refeição'"></app-hide-nav>

<div class="meals-container">
    <div class="meal-item">
        <h6 class="meal-name">{{meal?.name}}</h6>
        <p class="meal-description">{{meal?.description}}</p>
        <p class="meal-date">{{meal?.date}}</p>
        <p class="meal-date-time">{{meal?.time}}</p>
        <p class="meal-diet"><i
                class="{{meal?.isInDiet ? 'dot-green' : 'dot-red'}}"></i>{{meal?.isInDiet ? 'dentro da dieta' : 'fora da dieta'}}
        </p>
    </div>

    <div class="meal-actions">
        <div class="mb-2">
            <app-primary-button [textPrimaryButton]="'Editar refeição'"
                [icon]="'ph ph-pencil-simple-line'"></app-primary-button>
        </div>
        <app-secundary-button (click)="deleteMeal()" [textSecundaryButton]="'Excluir refeição'"
            [icon]="'ph ph-trash'"></app-secundary-button>
    </div>
</div>