<div class="card-custom">
    <div class="card-body">
        <a routerLink="/"><i class="ph ph-arrow-left"></i></a>
        <h5 class="card-custom-title">90,86%</h5>
        <h6 class="card-custom-subtitle">das refeições dentro da dieta</h6>
    </div>

    <div class="metrics-container">
        <h2 class="title-metrics">Estatísticas gerais</h2>
    </div>
</div>

<div class="content-metrics">
    <div class="card card-metrics mb-3">
        <div class="card-body-metrics">
            <h5 class="card-custom-title">22</h5>
            <h6 class="card-custom-subtitle">melhor sequência de pratos dentro da dieta</h6>
        </div>
    </div>

    <div class="card card-metrics mb-3">
        <div class="card-body-metrics">
            <h5 class="card-custom-title">109</h5>
            <h6 class="card-custom-subtitle">refeições registradas</h6>
        </div>
    </div>

    <div class="diet mb-3">
        <div class="card-diet-success">
            <h5 class="card-custom-title">109</h5>
            <h6 class="card-custom-subtitle">refeições dentro da dieta</h6>
        </div>

        <div class="card-diet-fail">
            <h5 class="card-custom-title">109</h5>
            <h6 class="card-custom-subtitle">refeições fora da dieta</h6>
        </div>
    </div>


</div>