<div class="card-custom">
    <div class="card-body">
        <h5 class="card-custom-title">90,86%</h5>
        <h6 class="card-custom-subtitle">das refeições dentro da dieta</h6>
    </div>

    <div class="metrics-container">
        <h2 class="title-metrics">Estatísticas gerais</h2>
    </div>
</div>

<div class="content-metrics">
    <div class="card card-metrics">
        <a class="action" href="/">
            <div class="card-body">
                <h5 class="card-custom-title">90,86%</h5>
                <h6 class="card-custom-subtitle">das refeições dentro da dieta</h6>
            </div>
        </a>
    </div>
</div>