.card-custom {
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #E5F0DB;
    height: 150px;


}
.card-body {
    background-color: #E5F0DB;
    padding: 24px 0 24px 0;
}

.card-custom-title {
    font-size: 32px;
    color: #1B1D1E;
    font-weight: bold;
}

i {
    position: absolute;
    color: #639339;
    font-size: 24px;
    left: 20px;
    top: 20px;
}

.card-custom-subtitle {
    font-size: 14px;
    color: #333638;
    font-weight: normal;
}

.metrics-container {
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   width: 100%;
   background-color: #ffffff;
   position:absolute;
   padding: 0px 24px 0 24px;
   padding-bottom: 32px;
}

.title-metrics {
    margin-top: 33px;
    font-weight: bold;
    font-size: 14px;
}

.card-metrics {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF0F0;
    border: none;
    border-radius: 8px;
    text-align: center;
}

.content-metrics {
    margin-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.card-body-metrics {
    padding: 16px 0 16px 0;
    text-align: center;
}

.diet {
    display: flex;
    justify-content: space-between;
}

.card-diet-fail {
    padding: 16px;
    text-align: center;
    background-color: #F4E6E7;
    border-radius: 8px;
    margin-left: 12px;
}

.card-diet-success {
    padding: 16px;
    text-align: center;
    background-color: #E5F0DB;
    border-radius: 8px;
}