<div class="card-custom">
    <div class="card-body">
        <a routerLink="/home"><i class="ph ph-arrow-left"></i></a>
        <h6 class="card-custom-subtitle">Nova refeição</h6>
    </div>
    <div class="metrics-container"></div>
</div>

<form #form="ngForm" novalidate>
    <div class="form-container mb-3">
        <div class="mb-3">
            <label class="form-label-custom">Nome</label>
            <input type="text" class="form-control" required name="name" [(ngModel)]="meal.name" #nomeRef="ngModel">
        </div>
        <div class="mb-3">
            <label class="form-label-custom">Descrição</label>
            <textarea class="form-control" rows="4" required name="description" [(ngModel)]="meal.description"
                #descricaoRef="ngModel"></textarea>
        </div>

        <div class="data-container mb-3">
            <div>
                <label class="form-label-custom">Data</label>
                <input type="text" class="form-control" required name="data" [(ngModel)]="meal.data" #dataRef="ngModel">
            </div>

            <div>
                <label class="form-label-custom">Hora</label>
                <input type="text" class="form-control" required name="time" [(ngModel)]="meal.created_at" #horaRef="ngModel">
            </div>
        </div>

        <label class="form-label-custom mb-1">Está dentro da dieta?</label>
        <div class="d-flex justify-content-between radio-group">
            <input type="radio" class="btn-check" name="isInDiet" id="inDietTrue" value="true"
                [(ngModel)]="meal.diet">
            <label class="btn button" for="inDietTrue"><i class="dot-green"></i>Sim</label>

            <input type="radio" class="btn-check red" name="isInDiet" id="inDietFalse" value="false"
                [(ngModel)]="meal.diet">
            <label class="btn button" for="inDietFalse"><i class="dot-red"></i>Não</label>
        </div>

        <div class="action-button">
            <app-primary-button [textPrimaryButton]="'Cadastrar refeição'" (click)="saveMeal()"></app-primary-button>
        </div>
    </div>
</form>