.card-custom {
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #DDDEDF;
    height: 100px;


}

.card-custom-subtitle {
    font-size: 18px;
    color: #333638;
    font-weight: bold;
}

.card-body {
    background-color: #DDDEDF;
    padding: 24px 0 24px 0;
}

.card-custom-title {
    font-size: 32px;
    color: #1B1D1E;
    font-weight: bold;
}

.metrics-container {
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   width: 100%;
   background-color: #ffffff;
   position:absolute;
   padding: 0px 24px 0 24px;
   padding-bottom: 32px;
}

i {
    position: absolute;
    color: #333638;
    font-size: 24px;
    left: 23px;
    top: 23px;
}

.form-container {
    margin-top: 24px;
    padding: 0 24px 0 24px;
}

.form-label-custom {
    color: #333638;
    font-weight: bold;
    font-size: 14px;
}

.form-control :focus {
    color: #333638;
}

.data-container {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.form-check {
    display: flex;
    justify-content: space-between;
}

.button {
        padding: 16px 60px 16px 60px;
        color: #1B1D1E;
        font-weight: bold;
    }

input:focus {
    border-color: #5C6265;
    box-shadow:none
}

textarea:focus {
    border-color: #5C6265;
    box-shadow:none
}


.action-button {
    margin-top: 80px;
}

