<div class="home-container" *ngIf="meals && meals.length > 0">
    <app-percent [percent]="percent" routerLink="/view-metrics"></app-percent>

    <div class="home-action">
        <div>
            <h2 class=" title-meal mt-3">Refeições</h2>
            <div>
                <app-primary-button [textPrimaryButton]="'Nova refeição'" [icon]="'ph ph-plus'"
                    routerLink="/create-meal"></app-primary-button>
            </div>
        </div>
    </div>

    <div class="home-meals" *ngFor="let data of (mealsByDate | keyvalue)">
        <div class="home-meals-title">
            <h3 class="date-meal">{{ data.key }}</h3>
        </div>
        <ng-container *ngFor="let meal of data.value">
            <a routerLink="/view-meal/{{ meal.id }}" class="card-custom-link">
                <div class="card-custom">
                    <h6 class="card-custom-time">{{ meal.hora }}</h6>
                    <i class="ph ph-line-vertical barra"></i>
                    <h5 class="card-custom-title">{{ meal.name }}</h5>
                    <div class="dot-content"><i class="{{ meal.diet === true ? 'dot-green' : 'dot-red' }}"></i></div>
                </div>
            </a>
        </ng-container>
    </div>
</div>

<div class="home-container" *ngIf="meals && meals.length === 0">
    <h2 class="text-center">Bem-vindo ao DailyDiet</h2>
    <p class=" text-center">Aqui você pode controlar suas refeições e manter uma alimentação saudável.</p>
    <div class="d-flex justify-content-center mb-4">
        <img class="img-fluid" style="width: 250px;" src="home.jpg" alt="">
    </div>
    <div class="home-action">
        <div>
            <div>
                <app-primary-button [textPrimaryButton]="'Adicionar Refeição'" [icon]="'ph ph-plus'"
                    routerLink="/create-meal"></app-primary-button>
            </div>
        </div>
    </div>
</div>