<div class="home-container">
    <app-percent [link]="'/view-metrics'"></app-percent>

    <div class="home-action">
        <div>
            <h2 class=" title-meal mt-3">Refeições</h2>
            <div>
                <app-primary-button [textPrimaryButton]="'Nova refeição'" [icon]="'ph ph-plus'"></app-primary-button>
            </div>
        </div>
    </div>

    <div class="home-meals">
        <div class="home-meals-title">
            <h3 class="date-meal">12.08.22</h3>
        </div>

        <div class="card-custom">
            <h6 class="card-custom-time">18:00</h6>
            <i class="barra">|</i>
            <h5 class="card-custom-title">Almoço</h5>
            <div class="dot-content"><i class="dot"></i></div>
        </div>

        <div class="card-custom">
            <h6 class="card-custom-time">18:00</h6>
            <i class="barra">|</i>
            <h5 class="card-custom-title">Almoço</h5>
            <div class="dot-content"><i class="dot"></i></div>
        </div>

        <div class="card-custom">
            <h6 class="card-custom-time">18:00</h6>
            <i class="barra">|</i>
            <h5 class="card-custom-title">Almoço</h5>
            <div class="dot-content"><i class="dot"></i></div>
        </div>

        <div class="card-custom">
            <h6 class="card-custom-time">18:00</h6>
            <i class="barra">|</i>
            <h5 class="card-custom-title">Almoço</h5>
            <div class="dot-content"><i class="dot"></i></div>
        </div>

        <div class="card-custom">
            <h6 class="card-custom-time">18:00</h6>
            <i class="barra">|</i>
            <h5 class="card-custom-title">Almoço</h5>
            <div class="dot-content"><i class="dot"></i></div>
        </div>
    </div>

    <div class="home-meals">
        <div class="home-meals-title">
            <h3 class="date-meal">12.08.22</h3>
        </div>

        <div class="card-custom">
            <h6 class="card-custom-time">18:00</h6>
            <i class="barra">|</i>
            <h5 class="card-custom-title">Almoço</h5>
            <div class="dot-content"><i class="dot"></i></div>
        </div>

        <div class="card-custom">
            <h6 class="card-custom-time">18:00</h6>
            <i class="barra">|</i>
            <h5 class="card-custom-title">Almoço</h5>
            <div class="dot-content"><i class="dot"></i></div>
        </div>

        <div class="card-custom">
            <h6 class="card-custom-time">18:00</h6>
            <i class="barra">|</i>
            <h5 class="card-custom-title">Almoço</h5>
            <div class="dot-content"><i class="dot"></i></div>
        </div>

        <div class="card-custom">
            <h6 class="card-custom-time">18:00</h6>
            <i class="barra">|</i>
            <h5 class="card-custom-title">Almoço</h5>
            <div class="dot-content"><i class="dot"></i></div>
        </div>

        <div class="card-custom">
            <h6 class="card-custom-time">18:00</h6>
            <i class="barra">|</i>
            <h5 class="card-custom-title">Almoço</h5>
            <div class="dot-content"><i class="dot"></i></div>
        </div>


    </div>
</div>