.secundary-button {
    border: #1B1D1E 1px solid;
    color: #1B1D1E;
    padding: 16px 24px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.secundary-button:hover {
    background-color: #DDDEDF;
    color: #1B1D1E;
}

i {
    color: #1B1D1E;
    font-size: 18px;
    margin-right: 12px;
}